{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="/css/template-form-admin.css">

<div class="form">
    <br><br>
    <div class="title">Mot de passe</div>
    <div class="subtitle">Changez votre mot de passe</div>

    {{ form_start(form) }}
        <div class="input-container ic1">
       {{ form_widget(form.password) }}
            <label class="iLabel" for="{{ form.password.vars.id }}">Password</label>
        </div>
        {# <div class="input-container ic1">
            {{ form_row(form.confirmPassword) }}
            <div class="cut"></div>
            <label class="iLabel" for="{{ form.confirmPassword.vars.id }}">Confirm</label>
        </div> #}

        <br>
        <button type="submit" class="buttonsend">
            <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <!-- SVG path code -->
                    </svg>
                </div>
            </div>
            <span>Enregistrer</span>
        </button>
    {{ form_end(form) }}
</div>

<br>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Écoutez l'événement "input" sur chaque champ de texte
    $('.input').on('input', function() {
        var inputValue = $(this).val(); // Récupérez la valeur du champ de texte
        var placeholder = $(this).data('placeholder'); // Récupérez le placeholder d'origine depuis l'attribut "data-placeholder"

        // Ajoutez ou supprimez la classe "has-value" selon que le champ contient du texte ou est vide
        if (inputValue !== '') {
            $(this).addClass('has-value');
        } else {
            $(this).removeClass('has-value');
        }
    });
});
</script>

{% endblock %}