{% extends 'base.html.twig' %}

{% block title %}Liste Paliers{% endblock %}

{% block body %}
    <style>
        .palier-card {
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            position: relative; /* Ajout de position relative */
            overflow: hidden; /* Pour le flou */
        }

        .palier-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .palier-description {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .check-icon {
            position: absolute;
            top: 10px; /* Ajustez selon vos besoins */
            right: 10px; /* Ajustez selon vos besoins */
            color: #28a745; /* Couleur verte */
            font-size: 24px;
        }

        .hourglass-icon {
            position: absolute;
            top: 10px; /* Ajustez selon vos besoins */
            right: 10px; /* Ajustez selon vos besoins */
            color: #ffc107; /* Couleur jaune */
            font-size: 24px;
        }

        .lock-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
            backdrop-filter: blur(10px); /* Effet de flou */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .lock-icon {
            color: rgba(0, 0, 0, 0.5); /* Couleur grise */
            font-size: 48px; /* Taille du cadenas */
        }

        .file-upload-form {
            margin-top: 20px;
        }

        .file-upload-input {
            margin-bottom: 10px;
        }

        .file-upload-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .message {
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #28a745;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            z-index: 1000;
        }
        
        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            background-color: #f8f9fa;
            border-radius: 5px;
        }

        .custom-file-upload:hover {
            background-color: #e9ecef;
        }

    </style>

    <div class="container mt-4 text-black">
        <div class="container-fluid pt-3">
            {% for palier in paliers %}
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="palier-card {% if app.user.palier.numero < palier.numero %}locked{% endif %}">
                            {% if app.user.palier.numero < palier.numero %}
                                <div class="lock-overlay">
                                    <i class="fas fa-lock lock-icon"></i>
                                </div>
                            {% endif %}
                            {% if app.user.palier.numero > palier.numero %}
                                <div class="check-icon">
                                    <i class="fas fa-check"></i>
                                </div>
                            {% elseif app.user.palier.numero == palier.numero %}
                                <i class="fas fa-hourglass-half hourglass-icon"></i>
                            {% endif %}
                            <div class="palier-title">Palier - {{ palier.numero }}</div>
                            <div class="palier-description">
                                <strong>Titre:</strong> {{ palier.name }}<br>
                                <strong>Objectif:</strong> {{ palier.objectif }}
                            </div>
                            {% if app.user.palier.numero == palier.numero %}
                                <form method="post" enctype="multipart/form-data" action="{{ path('upload_video') }}" class="file-upload-form" id="upload-form">
                                    <input type="hidden" name="palier_numero" value="{{ palier.numero }}">
                                    <input type="hidden" name="user_username" value="{{ app.user.username }}">
                                    <div class="file-upload-input">
                                        <label for="video">Télécharger une vidéo:</label>
                                        <input type="file" name="video" id="video" class="custom-file-upload">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Upload</button>                          
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        // Afficher un message lorsque le formulaire est soumis avec succès
        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Empêcher l'envoi du formulaire par défaut
            const form = event.target;
            const formData = new FormData(form);
            fetch(form.action, {
                method: form.method,
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    showMessage('La vidéo a été téléchargée avec succès.');
                    form.reset(); // Effacer le formulaire après le téléchargement réussi
                } else {
                    showMessage('Une erreur est survenue lors du téléchargement de la vidéo.');
                }
            })
            .catch(error => {
                showMessage('Une erreur est survenue lors du téléchargement de la vidéo.');
                console.error('Error:', error);
            });
        });

        // Afficher un message pendant quelques secondes
        function showMessage(message) {
            const messageElement = document.createElement('div');
            messageElement.classList.add('message');
            messageElement.textContent = message;
            document.body.appendChild(messageElement);
            setTimeout(() => {
                messageElement.style.opacity = '1';
            }, 100);
            setTimeout(() => {
                messageElement.style.opacity = '0';
                setTimeout(() => {
                    document.body.removeChild(messageElement);
                }, 500);
            }, 3000);
        }
    </script>
{% endblock %}
