{% extends 'base.html.twig' %}

{% block title %}Nouveau palier{% endblock %}

{% block body %}
    <!--
        =========================================================
        * Material Dashboard 2 - v3.1.0
        =========================================================

        * Product Page: https://www.creative-tim.com/product/material-dashboard
        * Copyright 2023 Creative Tim (https://www.creative-tim.com)
        * Licensed under MIT (https://www.creative-tim.com/license)
        * Coded by Creative Tim

        =========================================================

        * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
        -->
        
<style>
.form-control {
    border: none;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.form-control:focus {
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.form-select {
    border: none;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.form-select:focus {
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
</style>
<script src="/js/redirect.js"></script>
<div class="container mt-4 text-white">
    <div class="container-fluid pt-3">
        <div class="card mb-4">
            <div class="card-body">
                <div class="mt-3 text-center">
                    <h1 class="h1 mb-2 display-4" style="color: black">Nouveau palier</h1>
                </div>
                <form method="post"> {# Ajouter cette balise <form> #}
                {{ form_widget(form._token) }}
                    <div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group {% if form.numero.vars.errors|length > 0 %}has-error{% endif %}">
                                    <label class="form-control-label" for="input-username">Numéro</label>
                                    {{ form_widget(form.numero, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.numero, {'attr': {'class': 'error-message'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group {% if form.name.vars.errors|length > 0 %}has-error{% endif %}">
                                    <label class="form-control-label" for="input-username">Titre</label>
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.name, {'attr': {'class': 'error-message'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group {% if form.objectif.vars.errors|length > 0 %}has-error{% endif %}">
                                    <label class="form-control-label" for="input-username">Objectif</label>
                                    {{ form_widget(form.objectif, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.objectif, {'attr': {'class': 'error-message'}}) }}
                                </div>
                            </div>
                        </div>

                        <button onClick='redirectToPage("/palier")' class="btn btn-primary"><i class="fas fa-arrow-left"></i> Retour</button>
                        <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Créer</button>                        
                    </div>
                </form>
            </div>
        </div>
    </div>  
</div>

{% endblock %}
