{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}

<div class="col-lg-8 mx-auto p-5 py-md-5">

	{{ form_start(form) }}
	<div class="row">
		<div>
			{{ form_row(form.name, { 
    'label': 'Nom', 
    'attr': { 'class': 'form-control mb-4', 'id': 'name', 'name': '_name', 'aria-label': 'name' }, 
    'label_attr': {'class': 'form-label text-white'}, 
    'separator': '<br><br>' 
}) }}
		</div>
	</div>

	<div class="mb-4 col-lg-1">
		{{ form_row(form.color, { 
    'label': 'Couleur', 
    'attr': { 'class': 'form-control mb-4', 'id': 'image', 'name': '_image', 'aria-label': 'image' }, 
    'label_attr': {'class': 'form-label text-white'},
    'separator': '<br><br>' 
}) }}
	</div>

	<div class="row row-cols-1 row-cols-md-2">
		<div class="col">
			{{ form_row(form.image, { 
    'label': 'Image', 
    'attr': { 'class': 'form-control mb-4', 'id': 'image', 'name': '_image', 'aria-label': 'image' }, 
    'label_attr': {'class': 'form-label text-white'},
    'separator': '<br><br>' 
}) }}
		</div>
		<div class="col mb-4">
			{% if category.image %}
				<center><img style="max-width: 15em; width: auto;" src="{{ asset('uploads/images/' ~ category.image) }}"></center>
			{% endif %}
		</div>
	</div>

	<button class="btn btn-primary btn-sm mt-2">{{ button_label|default('Créer') }}</button>
	{{ form_end(form) }}

</div>

