{% extends 'base.html.twig' %}

{% block title %}
	{{ category.name }}
{% endblock %}

{% block body %}
    <script src="https://kit.fontawesome.com/54e9e3700c.js" crossorigin="anonymous"></script>

	<div class="col-lg-8 mx-auto p-5 py-md-5 text-center">
		<div class="mt-3">
			<h1 class="h1 mb-2 display-4" style="color: white">{{ category.name }}</h1>
		</div>

		<div>
			<img src="/uploads/images/{{ category.image }}" class="zoom" alt="{{ category.id }}">
		</div>

        <div class="pt-3">
		<a href="{{ path('app_category_index') }}" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i> Revenir à la liste</a>

		<a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen"></i> Modifier</a>

		{{ include('category/_delete_form.html.twig') }}
        </div>
	{% endblock %}

