{% extends 'base.html.twig' %}

{% block title %}Page des rassemblements{% endblock %}

{% block body %}

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/icomoon.css" />
  <link rel='stylesheet' href='/css/core.css' />
  <link rel='stylesheet' href='/css/daygrid.css' />
  <link rel="stylesheet" href="/css/calendar.css">

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src='/js/core.js'></script>
  <script src='/js/interaction.js'></script>
  <script src='/js/daygrid.js'></script>
  <script src='/js/timegrid.js'></script>
  <script src='/js/list.js'></script>

    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6 mx-auto">
          <div class="form-group">
            <label for="filter-select">Catégorie(s)</label>
            <select class="form-select" id="filter-select">
              <option value="all" selected>Toutes</option>
              {% for category in categories %}
                <option value='{{ category.name }}'>{{ category.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='calendar-container' class="col-10" style="margin-left: auto; margin-right: auto;">
    <div id='calendar'></div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var isMobile = window.innerWidth < 1920;
      var allEvents = [
        {% for gathering in gatherings %}
          {
            {% if gathering.type == 'Match' %}
              {% set equipeName = null %}
              {% for attendance in attendances %}
                {% if attendance.getGathering() == gathering %}
                  {% set equipeName = attendance.getUser().getEquipe().getName() %}
                  title: isMobile ? '{{ gathering.category.name }} - {{ equipeName }}' : '{{ gathering.category.name }} - {{ equipeName }} à {{ gathering.gatheringHappenedDate|date("H\\hi") }}',
                {% endif %}
              {% endfor %}
            {% else %}
              title: isMobile ? '{{ gathering.category.name }}' : '{{ gathering.category.name }} à {{ gathering.gatheringHappenedDate|date("H\\hi") }}',
            {% endif %}
            start: '{{ gathering.gatheringHappenedDate|date("Y-m-d") }}',
            {% if gathering.type == 'Entraînement' %}
              // color: '{{ gathering.category.color }}',
              color: '#5b9ad4',
            {% else %}
              // color: '{{ gathering.category.color }}',
              // borderColor: '#000000',
              color: '#92d050',
            {% endif %}
            url: '/rassemblement/{{ gathering.id }}',
          },
        {% endfor %}
      ];

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
        height: 'parent',
        header: {
          left: 'title',
          right: 'prev,next today'
        },
        defaultView: 'dayGridMonth',
        defaultDate: new Date(),
        navLinks: false,
        editable: false,
        eventLimit: true,
        firstDay: 1,
        events: allEvents
      });

      calendar.render();

      // Add event listener to the filter select
      var filterSelect = document.getElementById('filter-select');
      filterSelect.addEventListener('change', function() {
        var selectedCategory = this.value;
        var filteredEvents = allEvents.filter(function(event) {
          if (selectedCategory === 'all') {
            return true; // Show all events
          } else {
            return event.title.includes(selectedCategory); // Filter by selected category
          }
        });
        calendar.removeAllEvents();
        calendar.addEventSource(filteredEvents);
      });
    });
  </script>

  <script src="js/main.js"></script>

{% endblock %}
