{% extends 'base.html.twig' %}

{% block title %}Charts index{% endblock %}

{% block body %}
<style>
    body {
        color: white;
        margin: 10%;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="accordion">
        {# poid #}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    Graphique Poids :
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <canvas id="canvas1" width="400" height="200"></canvas>
                    <br />
                    <br />
                    <script>
                        const ctx1 = document.getElementById('canvas1');
                        new Chart(ctx{{ chart.id }}, {
                            type: 'line',
                            data: {
                                labels: [ {% for weight in weights %} '{{ weight.date | date("d-m-Y") }}', {% endfor %} ],
                                datasets: [{
                                    label: 'poids',
                                    data: [{{ weight.value | raw }}],
                                    backgroundColor: 'red',
                                    borderColor: 'red',
                                    borderWidth: 2
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        min: 0,
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        {# taille #}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    Graphique Taille :
                </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <canvas id="canvas2" width="400" height="200"></canvas>
                    <br />
                    <br />
                    <script>
                        const ctx2 = document.getElementById('canvas2');
                        new Chart(ctx2, {
                            type: 'line',
                            data: {
                                labels: [ {% for height in heights %} '{{ height.date | date("d-m-Y") }}', {% endfor %} ],
                                datasets: [{
                                    label: 'Taille',
                                    data: [{{ height.value | raw }}],
                                    backgroundColor: 'red',
                                    borderColor: 'red',
                                    borderWidth: 2
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        min: 0,
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        {# pied gauche #}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    Graphique jongle Gauche :
                </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <canvas id="canvas3" width="400" height="200"></canvas>
                    <br />
                    <br />
                    <script>
                        const ctx3 = document.getElementById('canvas3');
                        new Chart(ctx3, {
                            type: 'line',
                            data: {
                                labels: [ {% for test in tests %} '{{ tests.date | date("Y-m-d") }}', {% endfor %} ],
                                datasets: [{
                                    label: '{{ chart.data }}',
                                    data: [{{ tests.jongle_gauche | raw }}],
                                    backgroundColor: 'red',
                                    borderColor: 'red',
                                    borderWidth: 2
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        min: 0,                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        {# pied droit #}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    Graphique jongle Droit :
                </button>
            </h2>
            <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <canvas id="canvas4" width="400" height="200"></canvas>
                    <br />
                    <br />
                    <script>
                        const ctx4 = document.getElementById('canvas4');
                        new Chart(ctx4, {
                            type: 'line',
                            data: {
                                labels: [ {% for test in tests %} '{{ test.date | date("d-m-Y") }}', {% endfor %} ],
                                datasets: [{
                                    label: 'pied droit',
                                    data: [{{ tests.jongle_droit | raw }}],
                                    backgroundColor: 'red',
                                    borderColor: 'red',
                                    borderWidth: 2
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        min: 0,
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        {# controle de balle #}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    Graphique controlle de balle :
                </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <canvas id="canvas5" width="400" height="200"></canvas>
                    <br />
                    <br />
                    <script>
                        const ctx5 = document.getElementById('canvas5');
                        new Chart(ctx5, {
                            type: 'line',
                            data: {
                                labels: [ {% for test in tests %} '{{ test.date | date("d-m-Y") }}', {% endfor %} ],
                                datasets: [{
                                    label: 'conduite de balle',
                                    data: [{{ test.conduiteballe | raw }}],
                                    backgroundColor: 'red',
                                    borderColor: 'red',
                                    borderWidth: 2
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        min: 0,
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        {# VMA #}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    Graphique VMA Classique :
                </button>
            </h2>
            <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <canvas id="canvas6" width="400" height="200"></canvas>
                    <br />
                    <br />
                    <script>
                        const ctx6 = document.getElementById('canvas6');
                        new Chart(ctx6, {
                            type: 'line',
                            data: {
                                labels: [ {% for test in tests %} '{{ test.date | date("d-m-Y") }}', {% endfor %} ],
                                datasets: [{
                                    label: 'VMA Classique',
                                    data: [{{ test.vma | raw }}],
                                    backgroundColor: 'red',
                                    borderColor: 'red',
                                    borderWidth: 2
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        min: 0,
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        {# VMA Cooper #}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    Graphique VMA Cooper :
                </button>
            </h2>
            <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <canvas id="canvas7" width="400" height="200"></canvas>
                    <br />
                    <br />
                    <script>
                        const ctx7 = document.getElementById('canvas7');
                        new Chart(ctx7, {
                            type: 'line',
                            data: {
                                labels: [ {% for test in tests %} '{{ test.date | date("d-m-Y") }}', {% endfor %} ],
                                datasets: [{
                                    label: 'Cooper',
                                    data: [{{ test.cooper | raw }}],
                                    backgroundColor: 'red',
                                    borderColor: 'red',
                                    borderWidth: 2
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        min: 0,
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        {# VMA Demi-Cooper #}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    Graphique Demi-Cooper :
                </button>
            </h2>
            <div id="collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <canvas id="canvas8" width="400" height="200"></canvas>
                    <br />
                    <br />
                    <script>
                        const ctx8 = document.getElementById('canvas8');
                        new Chart(ctx8, {
                            type: 'line',
                            data: {
                                labels: [ {% for test in tests %} '{{ test.date | date("d-m-Y") }}', {% endfor %} ],
                                datasets: [{
                                    label: 'Demi-Cooper',
                                    data: [{{ test.demicooper | raw }}],
                                    backgroundColor: 'red',
                                    borderColor: 'red',
                                    borderWidth: 2
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        min: 0,
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        {# sprint #}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    Graphique Sprint :
                </button>
            </h2>
            <div id="collapse9" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <canvas id="canvas9" width="400" height="200"></canvas>
                    <br />
                    <br />
                    <script>
                        const ctx9 = document.getElementById('canvas9');
                        new Chart(ctx9, {
                            type: 'line',
                            data: {
                                labels: [ {% for test in tests %} '{{ test.date | date("d-m-Y") }}', {% endfor %} ],
                                datasets: [{
                                    label: 'line',
                                    data: [{{ test.vitesse | raw }}],
                                    backgroundColor: 'red',
                                    borderColor: 'red',
                                    borderWidth: 2
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        min: 0,
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        {# jongle tete #}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                    Graphique jongle Tete :
                </button>
            </h2>
            <div id="collapse10" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <canvas id="canvas10" width="400" height="200"></canvas>
                    <br />
                    <br />
                    <script>
                        const ctx10 = document.getElementById('canvas10');
                        new Chart(ctx10, {
                            type: 'line',
                            data: {
                                labels: [ {% for test in tests %} '{{ test.date | date("d-m-Y") }}', {% endfor %} ],
                                datasets: [{
                                    label: 'Jongle Tete',
                                    data: [{{ test.vitesse | raw }}],
                                    backgroundColor: 'red',
                                    borderColor: 'red',
                                    borderWidth: 2
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        min: 0,
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        {# Generale #}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                    Graphique Generale :
                </button>
            </h2>
            <div id="collapse11" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <canvas id="canvas11" width="400" height="200"></canvas>
                    <br />
                    <br />
                    <script>
                        const ctx11 = document.getElementById('canvas10');
                        new Chart(ctx11, {
                            type: 'radar',
                            data: {
                                labels: [ {% for test in tests %} '{{ test.date | date("d-m-Y") }}', {% endfor %} ],
                                datasets: [{
                                    label: 'Jongle Tete',
                                    data: [{{ test.vitesse | raw }}],
                                    backgroundColor: 'red',
                                    borderColor: 'red',
                                    borderWidth: 2
                                }]
                            },
                            options: {
                                scales: {
                                    r: {
                                        min: 0,
                                        max: 10
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        {#  #}
    </div>
{% endblock %}
