{% extends 'base.html.twig' %}

{% block title %}ChartConfiguration index{% endblock %}

{% block body %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% for chartId, chartData in chartData %}
    <h1 style="color:white;">{{ chartData.name }}</h1>
    <canvas id="canvas{{ chartId }}" width="400" height="200"></canvas>
    <script>
        const ctx{{ chartId }} = document.getElementById('canvas{{ chartId }}');
        const configData{{ chartId }} = {{ chartData.data | json_encode | raw }};
        console.log("les données : " + configData{{ chartId }}.values);
        console.log("les dates : " + configData{{ chartId }}.labels);
        new Chart(ctx{{ chartId }}, {
            type: '{{ chartData.chartType }}',
            data: {
                labels: configData{{ chartId }}.labels,
                datasets: [{
                    label: '{{ chartData.name }}',
                    data: configData{{ chartId }}.values,
                    backgroundColor: 'red',
                    borderColor: 'red',
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    y: {
                         min: {{ chartData.min }},
                         max: {{ chartData.max }}
                    }
                }
            }
        });
    </script>
{% endfor %}

{% endblock %}
