{% extends 'base.html.twig' %}

{% block title %}Charts index{% endblock %}

{% block body %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        {% for chart in charts %}
        <canvas id='{{ chart.id }}' width="10%"></canvas><br />

        <script>
        const ctx{{ chart.id }} = document.getElementById('{{ chart.id }}');
        new Chart(ctx{{ chart.id }}, {
            type: '{{ chart.type }}',
            data: {
            labels: ['2024-01-11', '2024-09-11', '2025-10-11'],
            datasets: [{
                data: [{{ chart.source_data }}],
                borderWidth: 1
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
            }
        });
        </script>
        {% else %}
                <td colspan="5">no records found</td>
        {% endfor %}
    <a href="{{ path('app_charts_new') }}">Create new</a>
{% endblock %}