{% extends 'base.html.twig' %}

{% block title %}graphique{% endblock %}

{% block body %}
    <!--
        =========================================================
        * Material Dashboard 2 - v3.1.0
        =========================================================

        * Product Page: https://www.creative-tim.com/product/material-dashboard
        * Copyright 2023 Creative Tim (https://www.creative-tim.com)
        * Licensed under MIT (https://www.creative-tim.com/license)
        * Coded by Creative Tim

        =========================================================

        * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
        -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <h1>Charts</h1>
    <br />
    {# {% for chart in charts %} #}
    
        <canvas id='{{ chart.data }}' role:"img"></canvas>
        <script>
        const ctx = document.getElementById('{{ chart.data }}');

        new Chart(ctx, {
            type: '{{ chart.type }}',
            data: {
            labels: ['Red', 'Blue', 'Yellow'],
            datasets: [{
                data: [{{ chart.source_data }}],
                borderWidth: 1
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
            }
        });
        </script>
    {# {% endfor %} #}

    <br />


    <hr/>

<div>
  <canvas id="myChart"></canvas>
</div>

    <script>
    const ctx2 = document.getElementById('myChart');

    new Chart(ctx2, {
        type: 'bar',
        data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            borderWidth: 1
        }]
        },
        options: {
        scales: {
            y: {
            beginAtZero: true
            }
        }
        }
    });
    </script>



    <a href="{{ path('app_charts_index') }}">back to list</a>
<br>
    <a href="{{ path('app_charts_edit', {'id': chart.id}) }}">edit</a>
<br />
    {{ include('charts/_delete_form.html.twig') }}
{% endblock %}
