<link rel="stylesheet" href="{{ asset('css/testsnew.css') }}">

<div class="container">
    <h1>Nouveau Poids</h1>

    {{ form_start(form, {'method': 'POST'}) }}
    
    <div class="form-group {% if form.value.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_label(form.value, 'Taille (m)', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.value, {'attr': {'class': 'form-input'}}) }}
        {{ form_errors(form.value, {'attr': {'class': 'error-message'}}) }}
    </div>
    <br>
    <button onClick='redirectToPage("/height")' class="form-button btn-gray"><i class="fas fa-arrow-left"></i> Retour</button>
    <button type="submit" class="form-button"><i class="fas fa-plus"></i> Créer</button>
            
    {{ form_end(form) }}
</div>

