{% extends 'base.html.twig' %}

{% block title %}Height index{% endblock %}

{% block body %}
    <!--
        =========================================================
        * Material Dashboard 2 - v3.1.0
        =========================================================

        * Product Page: https://www.creative-tim.com/product/material-dashboard
        * Copyright 2023 Creative Tim (https://www.creative-tim.com)
        * Licensed under MIT (https://www.creative-tim.com/license)
        * Coded by Creative Tim

        =========================================================

        * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
        -->
	<div class="container-fluid pt-3">
		<div class="row removable">
			<div class="col-lg-12">
				<div class="card mb-4">
					<div class="card-body p-3">
						<div class="mt-3 text-center">
							<h1 class="h1 mb-2 display-4">Liste des Tailles</h1>
						</div>

                        <div class="row mb-3">
                            <div class="col-md-6 offset-md-3">
                                <input type="text" id="searchInput" class="form-control" placeholder="Rechercher par utilisateur...">
                            </div>
                        </div>

						<div class="table-responsive">
							<table class="table table-striped table-hover text-center">
								<thead class="table-dark">
									<tr>
										<th>Utilisateur</th>
										<th>Valeur</th>
										<th>Date</th>
                                        <th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for height in heights %}
										<tr class="userRow">
											<td class="align-middle">{{ height.getUserId().getFirstName() }} {{ height.getUserId().getLastName() }}</td>
											<td class="align-middle">{{ height.value }}</td>
                                            <td class="align-middle">{{ height.date|date("d/m/Y") }}</td>
											<td class="align-middle">
												<div class="d-flex justify-content-center align-items-center">
													<div class="btn-group me-2" role="group">
														<form action="{{ path('app_height_delete', {'id': height.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette équipe ?')">
															<input type="hidden" name="_method" value="DELETE">
															<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ height.id) }}">
															<button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
														</form>
													</div>
												</div>
											</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="3">Il n'y a aucune poids !</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script>
    // JavaScript for filtering users by all columns
    document.getElementById("searchInput").addEventListener("keyup", function() {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.querySelector("table");
        tr = table.querySelectorAll("tbody tr"); // Sélectionne toutes les lignes du corps du tableau
        for (i = 0; i < tr.length; i++) {
            visible = false; // Initialise le statut de visibilité de la ligne à false
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        visible = true; // Si une correspondance est trouvée, définis la visibilité de la ligne à true
                        break;  // Sort de la boucle interne
                    }
                }
            }
            // Affiche ou masque la ligne en fonction de son statut de visibilité
            tr[i].style.display = visible ? "" : "none";
        }
    });
</script>


{% endblock %}