<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="images\logo.svg" sizes="any" type="image/svg+xml">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}

          {# <link href="/css/tests.css" rel="stylesheet" /> #}
          <link href="/css/pagebase.css" rel="stylesheet" />
          <link href="/css/param.css" rel="stylesheet" />


          {{ encore_entry_link_tags('app') }}
          <!--Styles.css-->
			    <link rel="stylesheet" href="/css/bootstrap.css">
        {% endblock %}

        {% block javascripts %}
        <script type="text/javascript" src="/js/tests.js"></script>
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/54e9e3700c.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    
    <body>
                        {# <div class="overlay"></div>
                    <div class="menu">
                        <div class="title" onclick="f()">{{ app.user.getFirstName() }} <span class="fa fa-bars"></span>
                            <div class="arrow"></div>
                        </div>
                    <div class="dropdown">
                        <p>Inbox <span class="fa fa-inbox"></span></p>
                        <p>Settings <span class="fa fa-gear"></span></p>
                        <p>Sign Out <span class="fa fa-sign-out"></span></p>
                    </div>
                </div> #}



    {% block body %} 
              <link href="/css/nav2.css" rel="stylesheet" />
          <link href="/css/nav3.css" rel="stylesheet" />
                            <div class="overlay"></div>
                    <div class="menu">
                        <div class="title" onclick="f()">{{ app.user.getFirstName() }} <span class="fa fa-bars"></span>
                            <div class="arrow"></div>
                        </div>
                    <div class="dropdown">
                        <p>Inbox <span class="fa fa-inbox"></span></p>
                        <p>Settings <span class="fa fa-gear"></span></p>
                        <p>Sign Out <span class="fa fa-sign-out"></span></p>
                    </div>
                </div>
            <main class="site-wrapper">
            <div class="pt-table desktop-768">
                <div class="pt-tablecell page-home relative" style="background-image: path('images/joueur.jpg');
                    background-position: center;
                    background-size: cover;">
                                  <div class="container">
                                      <div class="row">
                                          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                              <div class="hexagon-menu clear">
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='/charts'>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-universal-access"></i>
                                                              </span>
                                                              <span class="title">Graphiques</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href=''>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-bullseye"></i>
                                                              </span>
                                                              <span class="title">Matchs /!\</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='/tests'>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-braille"></i>
                                                              </span>
                                                              <span class="title">Tests</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>    
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                        <a class="hex-content" href="{{ is_granted('ROLE_COACH') ? path('app_admin_index') : path('app_team') }}">
                                                          <span class="hex-content-inner" >
                                                              <span class="icon">
                                                                  <i class="fa fa-id-badge"></i>
                                                              </span>
                                                            <span class="title">{{ is_granted('ROLE_COACH') ? 'Administration' : 'Mon équipe' }}</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href="/user/{{ app.user.id}}/poste-cache">
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-life-ring"></i>
                                                              </span>
                                                              <span class="title">Poste</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='/pdf'>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-clipboard"></i>
                                                              </span>
                                                              <span class="title">PDF</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='/user/{{ app.user.getId()}}/edit'>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-map-signs"></i>
                                                              </span>
                                                              <span class="title">Paramètres</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                      
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  
      {% endblock %}

            </div>
          </div>
        </div>
      </main>
      <script>
        function f() {
            document.getElementsByClassName('dropdown')[0].classList.toggle('down');
            document.getElementsByClassName('arrow')[0].classList.toggle('gone');
            if (document.getElementsByClassName('dropdown')[0].classList.contains('down')) {
                setTimeout(function() {
                document.getElementsByClassName('dropdown')[0].style.overflow = 'visible'
                }, 500)
            } else {
                document.getElementsByClassName('dropdown')[0].style.overflow = 'hidden'
            }
        }
      </script>
    </body>
</html>
