<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="images\logo.svg" sizes="any" type="image/svg+xml">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <!-- Implémentation locale de Boostrap -->
            <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <!-- Implémentation distante de Boostrap si la première ne fonctionne pas -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
            <!-- Feuille de styles CSS -->
            {# <link rel="stylesheet" href="bootstrap/css/styles.css"> #}
            <link href="/css/pagebase.css" rel="stylesheet" />
            <link href="/css/param.css" rel="stylesheet" />
            {{ encore_entry_link_tags('app') }}
            <!--Styles.css-->
            <link rel="stylesheet" href="/css/bootstrap.css">
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

            <script type="text/javascript" src="/js/tests.js"></script>
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/54e9e3700c.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        {% endblock %}
            <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }

      
    </style>
    </head>
    
    <body class= 'bg-dark'>
<nav class="navbar navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body h-100">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/charts">Graphiques</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Matchs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tests
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/tests">Liste des tests</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/tests/new">Nouveau test</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Mon équipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user/{{ app.user.id }}/poste-cache">Poste</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/pdf">PDF</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <div class='col'></div>
        <div class='col'></div>
        <div class='col'></div>
        <div class='col'></div>
            <div class="row align-bottom row-cols-1">
                <div class='col'>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong>mdo</strong>
                        </a>
                        <ul class="dropdown-menu text-small shadow">
                            <li><a class="dropdown-item" href=""></a></li>
                            <li><a class="dropdown-item" href="/parameter/modify">Settings</a></li>
                            <li><a class="dropdown-item" href="">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                        </ul>
                    </div>
                <!-- Déplacez le bloc du menu utilisateur ici -->
                </div>
            </div>
      </div>
    </div>
  </div>
</nav>

    {% block body %} 
    <link href="/css/nav2.css" rel="stylesheet" />
    <link href="/css/nav3.css" rel="stylesheet" />
            <main class="site-wrapper">
            <div class="pt-table desktop-768">
                <div class="pt-tablecell page-home relative" style="background-image: path('images/joueur.jpg');
                    background-position: center;
                    background-size: cover;">
                                  <div class="container">
                                      <div class="row">
                                          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                              <div class="hexagon-menu clear">
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='/charts'>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-universal-access"></i>
                                                              </span>
                                                              <span class="title">Graphiques</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href=''>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-bullseye"></i>
                                                              </span>
                                                              <span class="title">Matchs /!\</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='/tests'>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-braille"></i>
                                                              </span>
                                                              <span class="title">Tests</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>    
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                        <a class="hex-content" href="{{ is_granted('ROLE_COACH') ? path('app_admin_index') : path('app_team') }}">
                                                          <span class="hex-content-inner" >
                                                              <span class="icon">
                                                                  <i class="fa fa-id-badge"></i>
                                                              </span>
                                                            <span class="title">{{ is_granted('ROLE_COACH') ? 'Administration' : 'Mon équipe' }}</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='/user/{{ app.user.id }}/poste-cache'>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-life-ring"></i>
                                                              </span>
                                                              <span class="title">Poste</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='/pdf'>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-clipboard"></i>
                                                              </span>
                                                              <span class="title">PDF</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                  </div>
                                                  <div class="hexagon-item">
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <div class="hex-item">
                                                          <div></div>
                                                          <div></div>
                                                          <div></div>
                                                      </div>
                                                      <a  class="hex-content" href='/user/{{ app.user.getId()}}/edit'>
                                                          <span class="hex-content-inner">
                                                              <span class="icon">
                                                                  <i class="fa fa-map-signs"></i>
                                                              </span>
                                                              <span class="title">Paramètres</span>
                                                          </span>
                                                          <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                                      </a>
                                                      
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  
      {% endblock %}

            </div>
          </div>
        </div>
      </main>
      
    </body>
</html>
