{% extends 'base.html.twig' %}

{% block title %}Liste des tests{% endblock %}

{% block body %}
        <link href="/css/tests.css" rel="stylesheet" />
	<div class="col-lg-8 mx-auto p-5 py-md-5">
		<div class="mt-3 text-center">
			<h1 class="h1 mb-2">Liste des tests</h1>
		</div>


		<table>
			{% for test in tests %}
				
			<div class="cards">
				<div class="card green">
					<p class="tip">ID : {{test.id}}	<br>VMA : {{test.vma}}<br>Cooper : {{test.cooper|date('H:i:s')}}
													<br> Jongle Gauche : {{test.jonglegauche}}
													<br>Jongle Droit : {{test.jongledroit}}
													<br> Jongle Tête : {{test.jongletete}}</p>
					</div>
			</div>
				
			{% else %}
				<div colspan="9">Il n'y a aucun test !</div>
			{% endfor %}
	</div>

{% endblock %}

