{# templates/tests/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste de vos tests{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/css/tests.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block body %}
    <script src="https://kit.fontawesome.com/54e9e3700c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const userDropdown = document.getElementById('userDropdown');

            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$&");
                const regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            }

            userDropdown.addEventListener('change', function () {
                const selectedUserId = this.value;
                const currentUrl = window.location.href;

                const updatedUrl = updateQueryStringParameter(currentUrl, 'userId', selectedUserId);
                window.location.href = updatedUrl;
            });

            function updateQueryStringParameter(uri, key, value) {
                const re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
                const separator = uri.indexOf('?') !== -1 ? "&" : "?";
                if (uri.match(re)) {
                    return uri.replace(re, '$1' + key + "=" + value + '$2');
                } else {
                    return uri + separator + key + "=" + value;
                }
            }
        });
    </script>

    <div class="container-fluid">
        {% if app.user %}
            <div class="text-end">
                <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">Déconnexion</a>
            </div>
            <div class="text-center">
                <h1 class="h1">Liste de vos tests, {{ app.user.getFirstName() }}</h1>
                <a href="{{ path('app_tests_new', {'userId': app.user.getId()}) }}" class="btn btn-primary mt-3">Créer un nouveau test</a>
            </div>

            <div class="user-dropdown-container mt-3">
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <label for="userDropdown" class="user-dropdown-label">Sélectionner un utilisateur :</label>
                    <select class="form-select" id="userDropdown" name="userDropdown">
                        <option value="" {% if selectedUserId is null %}selected{% endif %}>Tous les utilisateurs</option>

                        {% set allUsers = usersByCategory is defined and usersByCategory is not null ? usersByCategory : [users] %}
                        
                        {% set mergedUsers = [] %}

                        {% for category, users in allUsers %}
                            {% set mergedUsers = mergedUsers|merge(users) %}
                        {% endfor %}

                        {% set sortedUsers = mergedUsers|sort((a, b) => a.getCategory() <=> b.getCategory() == 0 ? a.getFirstName() <=> b.getFirstName() : a.getCategory() <=> b.getCategory()) %}

                        {% set currentCategory = '' %}

                        {% for user in sortedUsers %}
                            {% if user.getCategory() != currentCategory %}
                                {% if currentCategory != '' %}
                                    </optgroup>
                                {% endif %}
                                <optgroup label="{{ user.getCategory() }}">
                                    {% set currentCategory = user.getCategory() %}
                                {% endif %}
                                <option value="{{ user.getId() }}" {% if selectedUserId == user.getId() %}selected{% endif %}>
                                    {{ user.getFirstName() }}
                                </option>
                            {% endfor %}
                                </optgroup>
                    </select>
                {% endif %}
            </div>

            
            <div class="mt-4">
                {# Boutons de tri #}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{{ path('app_tests_index', {'order': 'asc'}) }}" class="btn btn-secondary {% if app.request.query.get('order') == 'asc' %}active{% endif %}">
                        <i class="fas fa-sort-amount-up"></i> Plus ancien d'abord
                    </a>
                    <a href="{{ path('app_tests_index', {'order': 'desc'}) }}" class="btn btn-secondary {% if app.request.query.get('order') == 'desc' %}active{% endif %}">
                        <i class="fas fa-sort-amount-down"></i> Plus récent d'abord
                    </a>
                </div>
            </div>




            <div class="mt-4">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <script>
                        // Masquer le message flash lentement avec effet de fondu
                        let alert = document.querySelector('.alert');

                        setTimeout(function() {
                            let opacity = 1;
                            let fadeOutInterval = setInterval(function() {
                                if (opacity > 0) {
                                    opacity -= 0.1;
                                    alert.style.opacity = opacity;
                                } else {
                                    clearInterval(fadeOutInterval);
                                    alert.style.display = 'none';
                                }
                            }, 100); // Ajustez la vitesse de fondu en modifiant la durée de l'intervalle
                        }, 2000); // Ajustez la durée avant le début du fondu
                    </script>
                {% endfor %}
            </div>

            <div class="tests-container mt-4">
                {% if tests|length > 0 %}
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        {% set hasTests = false %}
                        {% for test in tests %}
                            {% if is_granted("ROLE_SUPER_ADMIN") or (app.user == test.user) %}
                                <div class="col">
                                    <div class="card green" style="position: relative;">
                                        <div class="card-body">
                                            <h5 class="card-title">Test de {{ test.user.getFirstName() }}</h5>
                                            <p class="card-text">
                                                VMA : {{ test.vma }} km/h<br>
                                                Cooper (12min) : {{ test.demicooper }} m<br>
                                                Demi-Cooper (6min) : {{ test.cooper }} m<br>
                                                Jongle Gauche : {{ test.jonglegauche }}<br>
                                                Jongle Droit : {{ test.jongledroit }}<br>
                                                Jongle Tête : {{ test.jongletete }}<br>
                                                Conduite de balle : {{ test.conduiteballe|split('.')|first }}.{{ test.conduiteballe|split('.')|last|default('000') }}s<br>
                                                Vitesse : {{ test.vitesse|split('.')|first }}.{{ test.vitesse|split('.')|last|default('000') }}s<br>
                                                Date du test : {{ test.date|date('d-m-Y H:i:s') }}
                                            </p>
                                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                                <div class="test-owner">Joueur : {{ test.user.getFirstName() }}</div>
                                                <div class="d-flex justify-content-between mt-3">
                                                    <a href="{{ path('app_tests_delete', {'id': test.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer</a>
                                                    <a href="{{ path('app_tests_edit', {'id': test.id}) }}" class="btn btn-secondary"><i class="fa fa-pencil"></i> Modifier</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% set hasTests = true %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    {% if not hasTests %}
                        <div class="row mt-4">
                            <div class="col">
                                <div class="text-center">
                                    <p>Il n'y a aucun test !</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="row mt-4">
                    <div class="col">
                        <div class="text-center">
                            <p>Ce joueur n'a aucun test !</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <h1 class="h1 mb-5">Bienvenue sur la liste des tests</h1>
            <div class="text-center">
                <p>Connectez-vous pour voir vos tests.</p>
                <p><a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a></p>
            </div>
        {% endif %}
    </div>

    <!-- Script Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
