{% extends 'base.html.twig' %}

{% block title %}Tests index{% endblock %}

{% block body %}
    <h1>Tests index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Vma</th>
                <th>Cooper</th>
                <th>Jongle_gauche</th>
                <th>Jongle_droit</th>
                <th>Jongle_tete</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td>{{ test.id }}</td>
                <td>{{ test.vma }}</td>
                <td>{{ test.cooper ? test.cooper|date('H:i:s') : '' }}</td>
                <td>{{ test.jongleGauche }}</td>
                <td>{{ test.jongleDroit }}</td>
                <td>{{ test.jongleTete }}</td>
                <td>
                    <a href="{{ path('app_tests_show', {'id': test.id}) }}">show</a>
                    <a href="{{ path('app_tests_edit', {'id': test.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tests_new') }}">Create new</a>
{% endblock %}
