{% extends 'base.html.twig' %}
{% block title %}Nouveau Test{% endblock %}

{% block body %}
    {% if app.user %}
    <script src="/js/redirect.js"></script>
    
    <style>
    .form-control {
        border: none; /* Supprimer la bordure par défaut */
        border-radius: 8px; /* Ajouter des coins arrondis */
        padding: 10px; /* Ajouter un espacement à l'intérieur du champ de saisie */
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Ajouter une ombre douce */
        transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Ajouter une transition fluide */
    }

    /* Style pour la bordure inférieure lorsqu'un champ de saisie est en focus */
    .form-control:focus {
        outline: none; /* Supprimer l'effet d'ombre en focus */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Ajouter une ombre plus prononcée en focus */
    }
    .form-select {
        border: none; /* Supprimer la bordure par défaut */
        border-radius: 8px; /* Ajouter des coins arrondis */
        padding: 10px; /* Ajouter un espacement à l'intérieur du champ de sélection */
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Ajouter une ombre douce */
        transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Ajouter une transition fluide */
    }

    /* Style pour la bordure inférieure lorsqu'un champ de sélection est en focus */
    .form-select:focus {
        outline: none; /* Supprimer l'effet d'ombre en focus */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajouter une ombre plus prononcée en focus */
    }
    </style>
    <div class="container">
        <h1>Nouveau Test</h1>
            <script src="/js/redirect.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const conduiteBalleInput = document.querySelector('#{{ form.conduiteballe.vars.id }}');
                    const vitesseInput = document.querySelector('#{{ form.vitesse.vars.id }}');

                    conduiteBalleInput.addEventListener('input', function () {
                        formatTimeInput(this);
                    });

                    vitesseInput.addEventListener('input', function () {
                        formatTimeInput(this);
                    });
                });
            </script>
        {% endif %}
       {{ form_start(form, {'method': 'POST'}) }}
       <div class="container-fluid pt-3">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="form-group">
                                {{ form_label(form.user, 'Utilisateur :', {'label_attr': {'class': 'form-control-label'}}) }}
                                {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.user, {'attr': {'class': 'error-message'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                        <h6 class="heading-small text-muted mb-4">Données du test</h6>
                        <div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group {% if form.vma.vars.errors|length > 0 %}has-error{% endif %}">
                                        <label class="form-control-label" for="input-username">VMA</label>
                                        {{ form_widget(form.vma, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la VMA'}}) }}
                                        {{ form_errors(form.vma, {'attr': {'class': 'error-message'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group {% if form.cooper.vars.errors|length > 0 %}has-error{% endif %}">
                                        <label class="form-control-label" for="input-first-name">Cooper (en mètres)</label>
                                        {{ form_widget(form.cooper, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la distance du test de cooper en mètres'}}) }}
                                        {{ form_errors(form.cooper, {'attr': {'class': 'error-message'}}) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group {% if form.demicooper.vars.errors|length > 0 %}has-error{% endif %}">
                                        <label class="form-control-label" for="input-email">Demi-cooper (en mètres)</label>
                                        {{ form_widget(form.demicooper, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la distance du test de demi-cooper en mètres'}}) }}
                                        {{ form_errors(form.demicooper, {'attr': {'class': 'error-message'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group {% if form.jongle_droit.vars.errors|length > 0 %}has-error{% endif %}">
                                        <label class="form-control-label" for="input-first-name">Jongle du pied droit</label>
                                        {{ form_widget(form.jongle_droit, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nombre de jongles du pied droit'}}) }}
                                        {{ form_errors(form.jongle_droit, {'attr': {'class': 'error-message'}}) }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group {% if form.jongle_gauche.vars.errors|length > 0 %}has-error{% endif %}">
                                        <label class="form-control-label" for="input-email">Jongle du pied gauche</label>
                                        {{ form_widget(form.jongle_gauche, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nombre de jongles du pied gauche'}}) }}
                                        {{ form_errors(form.jongle_gauche, {'attr': {'class': 'error-message'}}) }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group {% if form.jongle_tete.vars.errors|length > 0 %}has-error{% endif %}">
                                        <label class="form-control-label" for="input-email">Jongle de la tête</label>
                                        {{ form_widget(form.jongle_tete, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nombre de jongles de la tête'}}) }}
                                        {{ form_errors(form.jongle_tete, {'attr': {'class': 'error-message'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group {% if form.conduiteballe.vars.errors|length > 0 %}has-error{% endif %}">
                                        <label class="form-control-label" for="input-first-name">Conduite de balle</label>
                                        {{ form_widget(form.conduiteballe, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le temps de la conduite de balle en secondes', 'type': 'text'}}) }}
                                        {{ form_errors(form.conduiteballe, {'attr': {'class': 'error-message'}}) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group {% if form.vitesse.vars.errors|length > 0 %}has-error{% endif %}">
                                        <label class="form-control-label" for="input-email">Vitesse</label>
                                        {{ form_widget(form.vitesse, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le temps de la vitesse en secondes', 'type': 'text'}}) }}
                                        {{ form_errors(form.vitesse, {'attr': {'class': 'error-message'}}) }}
                                    </div>
                                </div>
                            </div>
                            <button onClick='redirectToPage("/tests")' class="btn btn-primary"><i class="fas fa-arrow-left"></i> Retour</button>
                            <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Créer</button>
                        </div>
                </div>

            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

