{% extends 'base.html.twig' %}

{% block title %}Hello ParameterController!{% endblock %}

{% block body %}
<style>
    .form-control {
        border: none;
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s ease, background-color 0.3s ease;
    }

    .form-control:focus {
        outline: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    }

    .form-select {
        border: none;
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s ease, background-color 0.3s ease;
    }

    .form-select:focus {
        outline: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .example-wrapper {
        padding: 20px;
    }
    .password-field {
        border: none;
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s ease, background-color 0.3s ease;
    }

    .password-field:focus {
        outline: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    }

</style>

<div class="example-wrapper">
    {{ form_start(form) }}
    {{ form_widget(form._token) }}

    <div class="container mt-4 text-white">
        <div class="container-fluid pt-3">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="mt-3 text-center">
                        <h1 class="h1 mb-2 display-4" style="color: black">Paramètres</h1>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group {% if form.username.vars.errors|length > 0 %}has-error{% endif %}">
                                    {{ form_label(form.username, 'Nom d\'utilisateur : ', {'label_attr': {'class': 'form-control-label'}}) }}
                                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.username, {'attr': {'class': 'error-message'}}) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group {% if form.plainPassword.vars.errors|length > 0 %}has-error{% endif %}">
                                    {{ form_widget(form.plainPassword) }}
                                    {{ form_errors(form.plainPassword, {'attr': {'class': 'error-message'}}) }}
                                </div>
                            </div>
                          <h6 class="heading-small text-muted mb-4">Image de profil</h6>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="drop-container" id="dropContainer">
                                        {{ form_widget(form.profile_image, { 'id': form.profile_image.vars.id, 'attr': {'class': 'form-control', 'onchange': 'handleFileSelect(event)'} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info"><i class="fas fa-save"></i> Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
                

    {{ form_end(form) }}
</div>

<script>
    const dropContainer = document.getElementById('dropContainer');
    const fileInput = document.getElementById('{{ form.profile_image.vars.id }}');

    dropContainer.addEventListener('dragover', (e) => {
        e.preventDefault();
        dropContainer.classList.add('drag-over');
    });

    dropContainer.addEventListener('dragleave', () => {
        dropContainer.classList.remove('drag-over');
    });

    dropContainer.addEventListener('drop', (e) => {
        e.preventDefault();
        dropContainer.classList.remove('drag-over');
        const files = e.dataTransfer.files;
        fileInput.files = files;
        handleFileSelect(e);
    });

    function handleFileSelect(event) {
        const file = event.target.files[0];
        const fileNameElement = document.getElementById('file-name');
        if (file) {
            fileNameElement.textContent = file.name;
        } else {
            fileNameElement.textContent = '';
        }
    }
</script>

{% endblock %}
