{% extends 'base.html.twig' %}

{% block title %}Hello ParameterController!{% endblock %}

{% block body %}


<div class="example-wrapper">
{{ form_start(form) }}
{{ form_widget(form._token) }}

    <div class="container-fluid pt-3">
        <div class="card mb-4">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h6 class="mb-0">
                            <div class="form-group {% if form.username.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(form.username, 'Nom d\'utilisateur : ', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.username, {'attr': {'class': 'error-message'}}) }}
                            </div>
                            <div class="form-group {% if form.plainPassword.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(form.plainPassword, 'Mot de passe : ', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.plainPassword, {'attr': {'class': 'error-message'}}) }}
                            </div>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h6 class="heading-small text-muted mb-4">Informations</h6>
                <div>
                    <div class="row">
       
                        <div class="drop-container" id="dropContainer">
                            <span class="drop-title">Image de profil</span>
                            {{ form_widget(form.profile_image, { 'id': form.profile_image.vars.id, 'attr': {'class': 'form-control', 'onchange': 'handleFileSelect(event)'} }) }}
                        </div>
                    </div><br>
    
                    <button type="submit" class="btn btn-info"><i class="fas fa-plus"></i> Enregistrer</button>
                </div>
            </div>

        </div>
    </div>
<script>
  const dropContainer = document.getElementById('dropContainer');
  const fileInput = document.getElementById('{{ form.profile_image.vars.id }}');

  dropContainer.addEventListener('dragover', (e) => {
    e.preventDefault();
    dropContainer.classList.add('drag-over');
  });

  dropContainer.addEventListener('dragleave', () => {
    dropContainer.classList.remove('drag-over');
  });

  dropContainer.addEventListener('drop', (e) => {
    e.preventDefault();
    dropContainer.classList.remove('drag-over');
    const files = e.dataTransfer.files;
    fileInput.files = files;
    handleFileSelect(e);
  });

  function handleFileSelect(event) {
    const file = event.target.files[0];
    const fileNameElement = document.getElementById('file-name');
    if (file) {
      fileNameElement.textContent = file.name;
    } else {
      fileNameElement.textContent = '';
    }
  }
</script>
{{ form_end(form) }}

{% endblock %}
