{{ form_start(form) }}
    {{ form_widget(form._token) }}

        <link rel="stylesheet" href="/assets/css/form.css">

<div class="container-fluid pt-3">
            <div class="row removable">
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h6 class="mb-0">Gestion d'équipe</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="{{form.name.vars.id}}">Nom de l'équipe</label>
                                                {{ form_widget(form.name, { 'id': form.name.vars.id, 'attr': {'class': 'form-control', 'onchange': 'handleFileSelect(event)'} }) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="{{form.category.vars.id}}">Catégorie</label>
                                                {{ form_widget(form.category, { 'id': form.category.vars.id, 'attr': {'class': 'form-select', 'onchange': 'handleFileSelect(event)'} }) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-info">{{ button_label|default('Enregistrer') }}</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
{{ form_end(form) }}
