{{ form_start(form) }}
{{ form_widget(form._token) }}




    <link rel="icon" href="/img/logo_usa.ico">



    <div class="container-fluid pt-3">
        <div class="card mb-4">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h6 class="mb-0">
                            <div class="form-group {% if form.username.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(form.username, 'Nom d\'utilisateur : ', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.username, {'attr': {'class': 'error-message'}}) }}
                            </div>
                            <div class="form-group {% if form.plainPassword.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(form.plainPassword, 'Mot de passe : ', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.plainPassword, {'attr': {'class': 'error-message'}}) }}
                            </div>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h6 class="heading-small text-muted mb-4">Informations</h6>
                <div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group {% if form.first_name.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(form.first_name, 'Prénom : ', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.first_name, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.first_name, {'attr': {'class': 'error-message'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group {% if form.last_name.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(form.last_name, 'Nom : ', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.last_name, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.last_name, {'attr': {'class': 'error-message'}}) }}
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group {% if form.date_naissance.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(form.date_naissance, 'Date de naissance : ', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.date_naissance, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.date_naissance, {'attr': {'class': 'error-message'}}) }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div
                                class="form-group {% if form.equipe.vars.errors|length > 0 %}has-error{% endif %}">
                                {{ form_label(form.equipe, 'Équipe : ', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.equipe, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.equipe, {'attr': {'class': 'error-message'}}) }}
                            </div>
                        </div>
                        <div class="drop-container" id="dropContainer">
                            <span class="drop-title">Déposez le fichier ici</span>
                            ou
                            {{ form_widget(form.profile_image, { 'id': form.profile_image.vars.id, 'attr': {'class': 'form-control', 'onchange': 'handleFileSelect(event)'} }) }}
                        </div>
                    </div><br>
                
                    <button type="submit" class="btn btn-info"><i class="fas fa-plus"></i> Enregistrer</button>
                </div>
            </div>

        </div>
    </div>
{{ form_end(form) }}
