{% extends 'base.html.twig' %}

{% block title %}Selection du poste{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/css/poste.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        h1 {
            color: white;
        }

        .cercle:hover + .texte {
            visibility: visible;
        }

        .terrain .cercle {
            position: absolute;
            max-width: 2%;
            z-index: 2;
        }

        /* Ajustement de la position et de la visibilité des textes */
        .texte {
            position: absolute;
            color: white;
            visibility: hidden;
            background-color: rgba(13, 82, 139, 1);
        }

        {% for user in users %}
            {% if user.posteCoordX is not null %}
                .texte[data-coord-x="{{ user.posteCoordX }}"][data-coord-y="{{ user.posteCordY }}"] {
                    left: {{ user.posteCoordX - 1 }}%;
                    top: {{ user.posteCordY - 5 }}%;
                }

                .terrain .cercle[data-coord-x="{{ user.posteCoordX }}"][data-coord-y="{{ user.posteCordY }}"] {
                    left: {{ user.posteCoordX - 1 }}%;
                    top: {{ user.posteCordY - 0.75 }}%;
                }
            {% endif %}
        {% endfor %}
    </style>

    <center>
        <div>
            <label for="equipe">Sélectionnez une équipe :</label>
            <select id="equipe">
                <option value="">Toutes les équipes</option>
                {% for equipe in equipes %}
                    <option value="{{ equipe.id }}">{{ equipe.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="terrain">
            <h1>Position des joueurs</h1>
            <img src="/images/terrain.jpg" alt="terrain" id="terrain">
            {% for user in users %}
                {% if user.posteCoordX is not null %}
                    <img
                        src="/images/cercle.png"
                        alt="cercle"
                        class="cercle"
                        data-coord-x="{{ user.posteCoordX }}"
                        data-coord-y="{{ user.posteCordY }}"
                        data-equipe-id="{{ user.equipe.id }}"
                    >
                    <p class="texte" data-coord-x="{{ user.posteCoordX }}" data-coord-y="{{ user.posteCordY }}">
                        {{ user.getfirstname }} {{ user.getlastname }}
                    </p>
                {% endif %}
            {% endfor %}
        </div>
    </center>

    <script>
        $(document).ready(function() {
            $('#equipe').change(function() {
                var equipeId = $(this).val();
                $('.cercle').hide();
                $('.texte').hide();
                if (!equipeId) { // Si aucune équipe n'est sélectionnée
                    $('.cercle').show();
                } else {
                    $('.cercle[data-equipe-id="' + equipeId + '"]').show();
                    $('.texte[data-equipe-id="' + equipeId + '"]').show(); // Afficher les textes de l'équipe sélectionnée
                }
            }).trigger('change'); // Déclencher le changement au chargement de la page pour afficher tous les points

            // Afficher le texte lors du survol
            $('.cercle').hover(
                function() {
                    $(this).next('.texte').css('visibility', 'visible');
                },
                function() {
                    $(this).next('.texte').css('visibility', 'hidden');
                }
            );
        });
    </script>

{% endblock %}