{% extends 'base.html.twig' %}

{% block title %}Selection du poste{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/css/poste.css">

    {# <script>
    // Sélectionnez les éléments nécessaires
    const menuPrincipal = document.querySelector('#menu-principal');
    const boutonMenu = document.querySelector('.bouton-menu');

    // Fonction pour ouvrir et fermer le menu
    function toggleMenu() {
        menuPrincipal.classList.toggle('menu-ouvert');
    }

    // Ajoutez un écouteur d'événement sur le bouton pour ouvrir et fermer le menu
    boutonMenu.addEventListener('click', toggleMenu);
    </script> #}

    <style>
        h1 {
            color: white;
        }

        .cercle:hover + .texte {
            visibility: visible;
        }

        .texte {
            position: absolute;
            color: white;
            visibility: hidden;
            background-color: rgba(13, 82, 139, 1);
        }

        .terrain .cercle {
            position: absolute;
            max-width: 2%;
            z-index: 2;
        }
        {# /* Styles généraux pour le menu */
        nav {
            position: relative;
        }

        #menu-principal {
            list-style: none;
            margin: 0;
            padding: 0;
            display: none;
            width: 100%;
            background-color: #333333;
        } #}

        {% for user in users %}
            {% if user.posteCoordX is not null %}
                .texte[data-coord-x="{{ user.posteCoordX }}"][data-coord-y="{{ user.posteCordY }}"] {
                    left: {{ user.posteCoordX - 1 }}%;
                    top: {{ user.posteCordY - 5 }}%;
                }

                .terrain .cercle[data-coord-x="{{ user.posteCoordX }}"][data-coord-y="{{ user.posteCordY }}"] {
                    left: {{ user.posteCoordX - 1 }}%;
                    top: {{ user.posteCordY - 0.75 }}%;
                }
            {% endif %}
        {% endfor %}
    </style>

    {# <nav>
        <ul id="menu-principal">
            <li data-sous-menu="sous-menu-1"><a href="#">Equipe 1</a></li>
            <li data-sous-menu="sous-menu-2"><a href="#">Equipe 2</a></li>
            <li data-sous-menu="sous-menu-3"><a href="#">Equipe 3</a></li>
        </ul>
    </nav> #}

    <label for="menuDeroulant">Choisir une option :</label>
    <select id="menuDeroulant">
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
        <option value="option4">Option 4</option>
    </select>

    <center>
        <div class="terrain">
            <h1>Position des joueurs</h1>
            <img src="/images/terrain.jpg" alt="terrain" id="terrain">
            {% for user in users %}
                {% if user.posteCoordX is not null %}
                    <img
                        src="/images/cercle.png"
                        alt="cercle"
                        class="cercle"
                        data-coord-x="{{ user.posteCoordX }}"
                        data-coord-y="{{ user.posteCordY }}"
                    >
                    <p class="texte" data-coord-x="{{ user.posteCoordX }}" data-coord-y="{{ user.posteCordY }}">
                        {{ user.getfirstname }} {{ user.getlastname }}
                    </p>
                {% endif %}
            {% endfor %}
        </div>
    </center>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
    var menuDeroulant = document.getElementById("menuDeroulant");

    menuDeroulant.addEventListener("change", function() {
        var selectedOption = menuDeroulant.options[menuDeroulant.selectedIndex].value;
        console.log("Option sélectionnée :", selectedOption);
    });
    });
    </script>

{% endblock %}
